.Intro {
  position: absolute;
  height: 100vh;
  height: 100dvh;
  width: 80%;
  color: #fff;
  display: flex;
  padding-left: 20%;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.Intro img {
  width: 100px;
  margin-bottom: 0.5rem;
  border-radius: 100%;
}

.Intro h1 {
  display: block;
  font-size: 2rem;
  z-index: 1;
  margin: 0;
  text-align: left;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(90deg, #90ee90, #bfee90, #fff);
  background-clip: text;
  background-size: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  /* background-repeat: no-repeat;
  animation: shineText 10s infinite;
  animation-delay: 1.5s;
  background-position: -250%;
  */
}

.Intro p {
  margin: 0;
}

.greetings a {
  display: inline-block;
  margin: 0;
  animation: waveHand 1s infinite;
  margin: 0 5px 0 2px;
}

.Intro .personalDesc {
  margin: 0;
  font-size: 1rem;
  text-transform: Uppercase;
}

.Intro .personalDesc::after {
  content: "";
  width: 3px;
  height: 1rem;
  margin-left: 2px;
  background: #fff;
  display: inline-block;
  animation: 1s blink step-end infinite;
}

.hintText {
  position: absolute;
  bottom: 5vh;
  bottom: 5dvh;
  right: calc(50% - 4.5px);
  text-align: center;
  animation: 2s blink infinite;
  transition: all 1s ease-in-out;
  z-index: 51;
}

.hintText::after {
  content: "";
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  z-index: 51;
}

@keyframes waveHand {
  0%,
  100% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(25deg);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
