.Project {
  margin-top: -100vh;
  padding-top: 50vh;
  padding-bottom: 20vh;
  background-color: rgb(239, 239, 239);
  color: rgb(51, 51, 51);
  min-height: 100vh;
  position: relative;
}

.Project .sectionTitle {
  position: sticky;
  top: calc(50vh);
  transform: translateY(-50%);
  text-align: center;
  padding: 1rem;
  width: calc(100vw - 2rem);
  overflow-x: hidden;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Project .sectionTitle h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(51, 51, 51);
  background-color: rgb(251, 251, 251);
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  margin: 0;
  border-radius: 50px;
}

.Project .sectionTitle .imageContainer {
  position: relative;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Project .sectionTitle .case {
  position: relative;
  width: 40vw;
  aspect-ratio: 1279 / 2716;
}

.Project .sectionTitle .case .iPhone {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  scale: 1.1;
  object-fit: scale-down;
}

.Project .sectionTitle .imageContainer .imageWrapper {
  border-radius: 5px;
  overflow: hidden;
}

.Project .sectionTitle .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.Project .projectDescription {
  margin-top: 80vh;
}

.Project .projectContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 50vh 5vw 50vh 55vw;
}

.Project .projectContent:nth-child(even) {
  background-color: rgb(251, 251, 251);
}

.Project .projectButton {
  border: rgb(51, 51, 51) 2px solid;
  background: transparent;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: fit-content;
  cursor: pointer;
}
